@import './test.css';

:root {
  --color-primary: theme('colors.gray.100');
  --color-secondary: theme('colors.orange.500');
  --color-background: theme('colors.gray.900');
  /* ... */
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: theme('colors.gray.900');
    --color-secondary: theme('colors.teal.700');
    --color-background: theme('colors.gray.100');
    /* ... */
  }
}

/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-background, #000);
  color: var(--color-primary, #fff);
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  margin: 0;
}

.home-logo-title {
  animation-delay: 0.5s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: logo-enter;
  animation-timing-function: ease-out;
  height: 60vmin;
  max-height: 340px;
  max-width: 340px;
  width: 60vmin;
}

@keyframes logo-enter {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* purgecss ignore */
html:not(.js-app) .project-tile {
  opacity: 1 !important;
  transform: none !important;
}
