.nav-link {
  position: relative;
}

.nav-link::after {
  background: currentColor;
  bottom: 0;
  content: '';
  height: 0.0625rem;
  left: 0;
  width: 100%;
  opacity: 0;
  transform-origin: 0 0;
  transition: opacity .3s ease-out;
  position: absolute;
  z-index: 1;
}

.nav-link--selected::after {
  opacity: 1;
  transition-delay: 0.1s;
}

.nav-spinner {
  opacity: 0;
  transition: opacity .2s ease-out 0.5s;
}

.nav-spinner--animated {
  opacity: 1;
}

.nav-spinner--animated svg {
  animation-delay: 0.5s;
  animation-direction: forwards;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
}

.nav-spinner--animated circle {
  animation-delay: inherit;
  animation-duration: 1.5s;
  animation-iteration-count: inherit;
  animation-name: dash;
  animation-timing-function: ease-in-out;
  stroke-linecap: round;
}

@keyframes rotate {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
