.nav-link {
  contain: paint layout;
  transition: transform 0.2s ease-out;
  will-change: opacity, transform;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(50%);
}

@screen lg {
  .nav-link:hover,
  .nav-link:focus {
    transform: translateX(15%);
  }
}
