.home-logo-title {
  max-width: 21.25rem;
  width: 64vmin;
}

.home-logo-title__letter {
  animation-delay: 0.2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: logo-name-path-enter;
}

@keyframes logo-name-path-enter {
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 0.7;
  }
}

.home-logo-title__role {
  animation-delay: 2.2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: logo-role-path-enter;
}

@keyframes logo-role-path-enter {
  to {
    fill-opacity: 0.6;
  }
}
