.home-logo-title {
  max-width: 21.25rem;
  width: 64vmin;
}

html:not(.js-app) .home-logo-title__letter {
  stroke-dashoffset: 0 !important;
  stroke-opacity: 0.7 !important;
}

html:not(.js-app) .home-logo-title__role {
  fill-opacity: 0.6 !important;
}
